importMethodsFrom(Matrix, diag, format, mean, rowMeans, solve, summary,
                  t, which)

importFrom("stats", "predict", "AIC", "anova", "aov", "coef", "contrasts",
     "contrasts<-", "cor", "cor.test", "density", "fitted",
     "formula", "gaussian", "lm", "median", "model.frame",
     "model.matrix", "pchisq", "pf", "qt", "quantile", "sd",
     "terms", "vcov")

importFrom("utils", "flush.console", "installed.packages")


importFrom(mgcv,gam,bam)

importFrom(car,Anova)

importFrom(ggplot2, aes_string, element_blank, element_rect, facet_grid,
           geom_rect, ggplot, labs, layer, scale_fill_gradient, scale_size,
           scale_x_continuous, scale_y_continuous, theme, scale_colour_manual,
           aes, geom_point, geom_errorbar, geom_line)

importFrom(lme4, fixef)

importFrom(MASS,mvrnorm)

importFrom(plyr, ., ddply, dlply, empty, idata.frame, laply, ldply, llply)

importFrom(reshape2, dcast, melt)

importFrom(scales, muted)

importFrom(stringr, str_count, str_detect, str_replace,
           str_replace_all, str_split)

export(ezANOVA,ezBoot,ezCor,ezDesign,ezMixed,ezMixedProgress,ezPerm,ezPlot,ezPlot2,ezPrecis,ezPredict,ezResample,ezStats)
